.card-body {
  padding-top: 0.5em;
  padding-left: 2em;
  padding-bottom: 0em;
}

h6 {
  margin-top:0;
  margin-bottom:0;
}

.card {
  margin-bottom: 0.3em;
}

.dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: inline-block;
}

.red {
  background-color: rgb(221, 99, 99);
}

.green {
  background-color: rgb(91, 177, 105);
}

.yellow {
  background-color: rgb(221, 203, 99);
}

#todo_title {
  margin-top:1em;
}
